<div class="contenedor_form-tarea" id="contenedorTarea">
  <h3 class="crear_tarea">Crea una tarea</h3>
  <form class="form_tarea" id="tarea" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="div_titulo">
      <input class="cuadro_titulo" type="text" id="titulo" name="titulo" placeholder="titulo" [(ngModel)]="titulo" required>
    </div>
    <div class="div_cuadro_text">
      <textarea class="cuadro_texto" id="textoTarea" name="textoTarea" placeholder="Escribe una descripción..." [(ngModel)]="textoTarea" required></textarea>
    </div>
    <div class="boton_submit">
      <input class="boton_tarea" type="submit" value="Crear una tarea"><br>
    </div>
    
    
    
  </form>
</div>
