.first-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

  .first-card h4 {
    margin: 0 0 8px;
    font-size: 18px;
    font-weight: bold;
  }

  .first-card p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
.boton_comenzar {
  width: 80%; /* Ajusta el ancho de los inputs */
  max-width: 500px; /* Ancho máximo para inputs grandes */
  padding: 10px;
  font-size: 16px;
  margin: 20px auto;
  background-color: #007BFF; /* Color del botón */
  color: white; /* Color del texto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}
  .boton_comenzar:hover {
    background-color: #0056b3;
  }
