<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="barra-superior">
    <nav>
      <ul class="opciones">
        <li><a routerLink="inicio" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="en-proceso" routerLinkActive="active">En Proceso</a></li>
        <li><a routerLink="terminadas" routerLinkActive="active">Terminadas</a></li>
      </ul>
    </nav>
  </div>

  <div class="contenido">
    <router-outlet></router-outlet>
  </div>
</body>
</html>
